<!DOCTYPE html>
<html lang="en">
<head>
  <title>Employee list table</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">EMS</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a>welcome {{username}}</a></li>
      <li class="active"><a href="">Home</a></li>
      <li><a href="createemp">createemp</a></li>
      <li><a href="/viewemp">viewall</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  
  {{#if msg}}
    <div class="alert alert-success">
      <strong>{{msg}}</strong>
    </div>
  {{/if}}

  <h2>Employee List..!!!</h2>
  <p>Employee list contains Name,Email and salary of employees...</p>            
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Salary</th>
        <th>Image</th>
      </tr>
    </thead>
    
    {{#each data}}
    <tbody>
       <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
        <td>{{this.salary}}</td>
        <td><img src="upload/{{this.profilepic}}" width="50px" height="50px"></td>
        <td><a href="/updateselect?eid={{this.id}}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a href="/deleteemp?eid={{this.id}}"><span class="glyphicon glyphicon-trash"></span></a></td>
       </tr>
    </tbody>
    {{/each}}
  </table>
</div>

</body>
</html>
